body{
  background-image:url('img/clouds.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Shadows Into Light', cursive;
  min-height: 100vh;
  font-size: 5.5em;
  color:white;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
}
.logo{
  position: absolute;
  font-size: 6rem;
  opacity: .4;
}
.fa {
  position: absolute;
  margin-top:4rem;
  animation: App-logo-spin infinite 15s linear; 
  color:#f1c40f;
  width: 5.5rem;
  height: 5.5rem;
}
.back {

  position: absolute;
  right:-2.9rem;
  margin-top:3.9rem;
  animation: App-logo-spin infinite 20s linear; 
  color:#f39c12;
  width: 6rem;
  height: 6rem;

}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.section{
  margin-top: 10rem;
}
p{
  color: #ecf0f1;
  margin-top:2rem;
   font-size: 3rem;
}
img{

  margin-right:2rem;
  margin-top:2rem;
  width:60px;
  height: 60px;

}
input{
  opacity: .7;
  outline: none;
  width:15rem;
  height: 2rem;
  border:none;
}
form{
  margin-top:6rem;
  display: flex;
  flex-direction: column;

}
.wrap{
  border-radius: 4rem;
  margin-top:2rem;
  position: absolute;
  width:35%;
  height: 90%;
  background-color: white;
  opacity:.1;
}